.newhome {
    text-align: center;
}
.top-section {

    border-top: 10px orangered solid;
    padding-top: 20px;
    padding-bottom: 50px;
}
.sect-2 {
    padding: 20px;

}
.pad {
    color: #228B22;
    padding: 20px 0 20px 0;
}
.sect-3 {
    /*background-color: #8bc34a;*/
    background-color: rgba(139, 195, 74, 1);
    color: white !important;
    /*color: #228B22;*/
    text-align: left;
    padding: 40px;
}
.sect-4 {
    /*margin: 20px 0 20px 0;*/
}

.sect-4-title {
    color: #8bc34a;
    /*font-family: four;*/
    margin: 20px;
    /*text-align: left;*/
}
.sect-4-text {
    color: #228B22;
    padding: 15px;
}
.sect-6-title {
    color: #8bc34a;
    margin: 25px 0 25px 0;
    /*font-family: four;*/
    font-size: 25px;
    /*text-align: left;*/
}
.sect-4-image {
    /*margin: 20px;*/
    overflow: hidden !important;
}
.sect-4-text {
    margin: 20px;
}
.sect-5 {
    background-color: #8bc34a;
    color: white;
    text-align: right;
    padding: 40px 0 40px 0;
}
/*.sect-5-image{*/
/*    right: 20px !important;*/
/*}*/
.col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-xs-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*.b-image {*/
/*    padding: 0 !important;*/
/*}*/
.start-right {
    text-align: right;
    color: #228B22;
}

.image-pad {
    padding: 10px 10px 10px 0;
    margin: auto;
}
