/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {

}

/*
Forces image to be 100% width and not max width of 100%
*/

.carousel-item .img-fluid {
    width:100%;
    height: auto;
    position: center;
    /*margin: auto;*/
    /*width: 90%;*/
    /*height: auto;*/
    /*max-height: 600px;*/
    /*max-width: 780px;*/
}

/*@media (max-width: 900px) {*/
    /*.carousel-item .img-fluid {*/
        /*margin: auto;*/
        /*width: 70%;*/
        /*height: auto;*/
        /*!*display: block;*!*/
    /*}*/
/*}*/





/*
anchors are inline so you need ot make them block to go full width
*/
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 60px!important;
    height: 60px!important;
}
.carousel-item a {
    display: block;
    width:100%;
    height: inherit;
}
.carousel-control-prev{
    height: auto;
}
.carousel-control-next{
    height: auto;
}