@font-face {
    font-family: one;
    src: url(../fonts/irsansb.ttf);

}

@font-face {
    font-family: two;
    src: url(../fonts/irsans.ttf);

}



.jumbo-wrapper {
    /*background-color: #61dafb;*/
    background-image:  url('../images/ebrahimi-recycling-center.jpg') ;

    height: 600px;
    position: absolute;
    width: 100%;

    text-align: center;
}

.wrapper {
    width: 100%;
}
.brand {
    position: relative;
    margin-top: 0;
}
a.nav-link {
    color: white !important;

    font: 20px "two";
    margin: 0 25px 0 25px;

}
.navbar {
    position: relative;
    box-shadow: none !important;
    /*top: 50px;*/

}
.navbar-toggler-icon {
    font: 25px "one";
    color: white;
    /*padding-right: 10px!important;*/

}
.navbar-toggler {
    /*background-color: #228B22!important;*/
    /*opacity: .9;*/
    background-color: rgba(28, 102, 41, 0.68)!important;
    /*padding-right: 10px!important;*/
}
.navbar-collapse {
    /*background-color: rgba(34, 139, 34, 0.68);*/
    background-color: rgba(28, 102, 41, 0.9);
    /*background-color: rgba(93, 218, 34, 0.95);*/
    padding: 10px;
    /*background-color: #282c34;*/
    /*opacity: 0.7;*/
    /*margin-top: 5em;*/

}
.navbar-expand-sm {
    /*background-color: #282c34;*/
    /*opacity: 1.0;*/
    /*margin-top: 5em;*/
    color: white !important;
    font-size: 30px;
    /*margin: 0 25px 0 25px;*/
}
.right-padding {
    padding-right: 80px;
}
.nav-item:hover {
    /*background-color: deeppink;*/
    /*background-color: #8bc34a;*/
    background-color: rgba(93, 218, 34, 0.78);
    border-radius: 25px;
}

.welcome {
    font: 25px "one";
    color: orangered;
    padding: 10px;
    margin-top: 25px;
}
.brand {
    /*color: white;*/
    border-radius: 25px;
    /*color: #228B22;*/
    /*color: black;*/
    /*background-color: rgba(28, 102, 41, 0.87);*/
    /*background-color: orange;*/
    /*background-color: #228B22;*/
    display:inline-block;
    font: 27px "one";
    padding-top: 30px;
    /*margin-bottom: 50px;*/
}
.name {
    color: white;
    border-radius: 25px;
    /*color: #228B22;*/
    /*color: black;*/
    /*background-color: rgba(28, 102, 41, 0.68);*/
    /*background-color: orange;*/
    /*background-color: #228B22;*/
    background-color: rgba(28, 102, 41, 0.87);
    display:inline-block;
    font: 24px "one";
    padding: 15px;
    margin-bottom: 30px;

}
.desc {
    font: 20px "one";
    color: white;
    border-radius: 25px;
    /*background-color: #8bc34a;*/
    background-color: rgba(139, 195, 74, 0.8);
    /*background-color: rgba(28, 102, 41, 0.68);*/
    display:inline-block;
    padding: 10px;
    /*padding: 5px 10px 5px 10px;*/
    margin-bottom: 10px;
}

.bottomM {
    margin-bottom: 10px;
}
.bottomD {
    margin-bottom: 20px;
}

.desc2 {

    color: white;
    border-radius: 25px;
    /*background-color: blue;*/
    /*background-color: rgba(28, 102, 41, 0.68);*/
    background-color: rgba(28, 102, 41, 0.87);
    display:inline-block;
    /*padding: 5px 10px 5px 10px;*/
    padding: 14px;
    font: 22px "one";
}

.descB {

    color: white;
    border-radius: 25px;
    /*background-color: blue;*/
    /*background-color: rgba(28, 102, 41, 0.68);*/
    background-color: rgba(139, 195, 74, 0.8);
    display:inline-block;
    /*padding: 5px 10px 5px 10px;*/
    padding: 14px;
    font: 22px "one";
}

.center {
    text-align: center;
}
.dropdown-item {
    color: white;

    font: 20px "two";
    /*margin: 5px 10px 5px 30px;*/
    /*width: 110px;*/
}
.dropdown-menu {
    padding: 10px;
}



